/* Inspired by Julia.css file.
*/

.wy-nav-content,
.wy-nav-content-wrap {
    color: #222;
    background: #fff;
}

.wy-nav-content {
    max-width: 1000px;
}

body,
.wy-body-for-nav,
.wy-nav-side,
.wy-side-nav-search,
.wy-side-nav-search img {
    background: #fcfcfc;
}

.wy-menu-vertical li.current a,
.wy-side-nav-search,
.wy-nav-side {
    border-right: none;
    box-shadow: inset -14px 0px 5px -12px rgb(210,210,210);
}

.wy-menu-vertical li.current > a,
.wy-menu-vertical li.current > a:hover {
    background: #fff;
    box-shadow: none;
}

.wy-side-nav-search img {
    width: 200px;
    height: 83px;
    border-radius: 0;
    margin: 1em;
    padding: 0;
}

.wy-side-nav-search input[type="text"] {
    border-color: rgb(201, 201, 201);
}

div.section {
    font-family: georgia, serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: helvetica, arial, sans-serif;
}

h1, h2 {
    margin-top: 2em;
}

h3 {
    text-indent: 1.5em;
}

h4 {
    font-style: italic;
    font-size: 1em;
    margin-bottom: .5ex;
}

.rst-content dl:not(.docutils) {
    border-top: solid 1px #f8f8f8;
    margin-bottom: 0;
}

.rst-content dl:not(.docutils) dt {
    background: #fdfdfd;
    border-top: none;
    color: rgb(64, 64, 64);
    display: block;
    margin: 1px 0;
    background-color: #f5f5f5;
}

.descname {
    color: black;
    background: none;
    border: none;
    font-size: 1em;
}

code {
    color: #AB1F10;
    font-size: 80%;
}
