/* Inspired by Julia.css file.
*/

.wy-nav-content,
.wy-nav-content-wrap {
    color: #222;
    background: #fff;
}

body,
.wy-body-for-nav,
.wy-nav-side,
.wy-side-nav-search,
.wy-side-nav-search img {
    background: #fcfcfc;
}

.wy-menu-vertical li.current a,
.wy-side-nav-search,
.wy-nav-side {
    border-right: none;
    box-shadow: inset -14px 0px 5px -12px rgb(210,210,210);
}

.wy-menu-vertical li.current > a,
.wy-menu-vertical li.current > a:hover {
    background: #fff;
    box-shadow: none;
}

.wy-side-nav-search img {
    width: 200px;
    height: 83px;
    border-radius: 0;
    margin: 1em;
    padding: 0;
}

.wy-side-nav-search input[type="text"] {
    border-color: rgb(201, 201, 201);
}

div.section {
    font-family: georgia, serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: helvetica, arial, sans-serif;
}